@page "/how"

<h1>Как использовать?</h1>

<p>Открыть страницу <a href="https://takeout.google.com/settings/takeout" target="_blank">https://takeout.google.com/settings/takeout</a> (может потребоваться авторизация).</p>
<p>Оставить выбранным только историю месторасположений,</p>
<p><img src="images/takeout.png" /></p>
<p>На следующем шаге ничего не менять</p>
<p><img src="images/takeout2.png" /></p>
<p>Дождаться письма со ссылкой на файл, скачать его на компьютер или мобильное устройство.</p>
<p>Перейти на <NavLink href="uploadfile">страницу</NavLink>. Выбрать загруженный файл (обычно он имеет имя типа <strong>takeout-20200707T092637Z-001.zip</strong>) и дождаться результата.</p>
<p>Самая долгая часть - это выгрузка файла на сервис, при невысокой скорости интернета и большом размере файла истории, этот шаг может растянуться на 10-15 минут, поэтому рекомендуется выгружать файл на устройстве с высокой скоростью интренет-соедимнения.</p>