@page "/"

<h1>Что это?</h1>

<p>Данная программа разбирает историю местоположений от Google, находит даты пересечения государственных границ и подсчитывает количество дней, проведенных в каждом государстве.</p>
<p>Необходимые исходные данные - файл с историей местоположений, как его получить смотрите <NavLink href="how">здесь</NavLink>.</p>
<p>Ограничения: Google записывает информацию о местоположении практически ежеминутно, если проверять каждую точку, то процесс проверки может занять очень много времени, поэтому программа проверяет только одну точку в сутки, что позволяет значительно ускорить процесс, но с другой стороны при таком алгоритме теряются однодневные выезды.</p>
<p>Известные проблемы: иногда неточно определяет страну в прибрежных районах. В данной версии страны ограничены Европой, а частота проверки - один раз в сутки.</p>
<p>О найденных проблемах прошу писать по адресу <a href="mailto:amakhin@hotmail.com">amakhin@hotmail.com</a>.</p>
