@model DateRangePostRequest

<div class="text-center">
    <form asp-action="Results" method="get">
        <input asp-for="Guid"/>
        <input asp-for="StartDate" />
        <input asp-for="EndDate" />
        <input type="submit"/>
    </form>
</div>